<plugin name='jquery-bootstrap' version='0.1' grailsVersion='2.1 &gt; *'>
  <author>Ariel Hernandez Musa</author>
  <authorEmail>arielhm@inca.edu.cu</authorEmail>
  <title>Jquery Bootstrap Plugin</title>
  <description>This plugin provides a full integration of grails with jquery and bootstrap
</description>
  <documentation>http://grails.org/plugin/jquery-bootstrap</documentation>
  <type>JqueryBootstrapGrailsPlugin</type>
  <resources>
    <resource>org.grail.plugins.jquerybootstrap.JQueryBootStrapTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>